{% extends "network/layout.html" %}

{% block body %}
    <h2>All Posts</h2>
    {% if user.is_authenticated %}
    <form action="{% url 'add-post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">New Post:</label>
            <textarea class="form-control" required name="content" placeholder="Write text.." id="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
    {% endif %}
    <br>
    {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'profile' post.user_id %}">
                    <h4>{{ post.user.username }}</h4>
                </a>
                {% if post.user.id == request.user.id %}
                    <div>
                        <a href="javascript:void(0)" class="edit" data-id="{{ post.id }}">Edit</a>
                        <div class="edit-post-div hidden" id="post{{ post.id }}">
                            <form action="{% url 'add-post' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="edit-content{{ post.id }}">Edit Post:</label>
                                    <textarea class="form-control" required name="content" placeholder="Write text.."
                                              id="edit-content{{ post.id }}">{{ post.content }}</textarea>
                                </div>
                                <button type="button" data-id="{{ post.id }}" class="btn btn-primary update-post">Save
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <div class="post">
                    <p id="post-content{{ post.id }}">{{ post.content }}</p>
                    <p>{{ post.created_at }}</p>
                </div>
                <i class="fa fa-heart like" data-id="{{ post.id }}"
                   style="cursor: pointer"> {{ post.like_set.count }}</i>
            </div>
        </div>
    {% endfor %}

    {% if posts.has_other_pages %}
        <nav aria-label="Page navigation conatiner" style="margin-top: 20px"></nav>
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-link"><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled page-link"><span>&laquo;</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-link"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li class="page-link"><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled page-link"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}